.App {
  padding: 5rem;
  text-align: center;
}

.main-grid {
  display: grid;
  padding: 0rem;
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.grid-item {
  width: 25rem;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.footerMain {
  flex-shrink: 0;
  margin: 0 auto;
  font-size: small;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;
  background-color: rgb(247, 247, 247);
}

.footerBody {
  text-align: center;
  padding: 10px 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.divLogoImg {
  height: 20px;
}

.linkStyle {
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}

.linkStyleTitle {
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.copyRight {
  margin-top: 10px;
  font-size: smaller;
  color: rgba(5, 5, 5, 0.603);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
